DB_USER=postgres
DB_PASSWORD=your_postgress_password
DB_HOST=localhost  
DB_PORT=5432
DB_NAME=communicator
JWT_SECRET=your_jwt_secret_key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DEBUG=True
FRIEND_REFERENCE=A_secret_word_for_registering_with_your_colleagues_in_the_app
CURRENT_MESSAGES_MAX_COUNT=20
POOL_SIZE=5
MAX_OVERFLOW=5
LOG_FILE=logs/communicator.log
LOG_ROTATION=12 MB
LOG_RETENTION=2 days
USERS_ACTIVITY_CHECK_INTERVAL=300
MAX_UPLOAD_FILE_SIZE=30
ALLOWED_EXTENSIONS=["jpg", "jpeg", "png", "pdf", "doc", "docx", "xls", "xlsx", "txt", "zip", "z7", "rar", "vaw", "csv", "ogg", "mp3", "gif"]
CLIENT_MESSAGES_CHECK_INTERVAL=2000
CLIENT_USERS_CHECK_INTERVAL=3011 
LARGEST_NUMBER_OF_MESSAGES=10000 
LARGEST_NUMBER_OF_USERS=10000
LANGUAGE=en